@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
:root {
    --main-color: #66bb6a;
    --green-light:#98ee99;
    --green-dark:#338a3e;
    --black: #222;
    --white: #fff;
    --light-black: #777;
    --light-white: #fff9;
    --dark-bg: rgba(0,0,0,.7);
    --light-bg: #eee;
    --border: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    --text-shadow: 0 .5rem 3rem rgba(0,0,0,.3);
}
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}
html {
    font-size: 61.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar {
    width: 1rem;
}
html::-webkit-scrollbar-track {
    background-color: var(--white);
}
html::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}
section {
    padding: 5rem 10%;
}
.heading-title {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 6rem;
    text-transform: uppercase;
    color: var(--black);
}
.heading {
    background-size: cover !important;
    background-position: center !important;
    padding-top: 10rem;
    padding-bottom: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading h1 {
    font-size: 10rem;
    text-transform: uppercase;
    color: var(--white);
    text-shadow: var(--text-shadow);

}
.btn {
    display: inline-block;
    background: var(--black);
    margin-top: 1rem;
    color: var(--white);
    font-size: 1.7rem;
    padding: 1rem 3rem;
    cursor: pointer;
}
.btn:hover {
    background-color: var(--main-color);
}
/*--- Start Header Section ---*/
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--white);
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;
}
.header .logo {
    font-size: 2.5rem;
    color: var(--black);
}
.header .navbar a {
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--black);
}
.header .navbar a:hover {
    color: var(--main-color);
}
#menu-btn {
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
    display: none;
}
/*--- Start Home Section ---*/
.home {
    padding: 0;
}
.home .landing {
    background-repeat: no-repeat;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
    background-position: center !important;
    min-height: 82.8vh;
}
.home .landing .content {
    width: 85rem;
    text-align: center;
    display: inline-block;
}
.home .landing .content span {
    color: var(--light-white);
    font-size: 2.2rem;
    display: block;
    padding-bottom: 1rem;
}
.home .landing .content h3 {
    font-size: 6vw;
    color: var(--white);
    text-transform: uppercase;
    line-height: 1;
    text-shadow: var(--text-shadow);
    padding: 1rem 0;
}
/*--- Start Customer Section ---*/
.customers,
.transfer-hist{
    overflow-x: auto;
    height: 82.8vh;
}
.customers .customers-table,
.transfer-hist .transfer-table{
    width: 100%;
    font-size: 1.5rem;
}
.customers .customers-table th,
.transfer-hist .transfer-table th {
    background-color: var(--main-color);
    padding: 1rem;
}
.customers .customers-table tr:nth-child(even),
.transfer-hist .transfer-table tr:nth-child(even)
{
    background-color: #f2f2f2;
}
.customers .customers-table tr ,
.customers .customers-table td ,
.transfer-hist .transfer-table tr,
.transfer-hist .transfer-table td{
    text-align: center;
    padding: 1.5rem;
}
/*--- Start Transfer Section ---*/
.transfer .container{
    width: 100%;
    border-radius: 5px;
    background-color: var(--light-bg);
    padding: 20px;
}
.from , .to , .amount{
    font-size: 1.5rem;
}
#form , #to , #amount{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
button[type=submit]:hover {
    background-color: var(--main-color);
}
.btnholder {
    text-align: center;
}
section.hight {
    height: auto;
    padding-top: 1rem;
}
/*--- Start Footer Section ---*/
.footer {
    background-color: var(--main-color);
    padding: 3rem 10%;
    text-align: center;
}
.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(25rem , 1fr));
    gap: 3rem;
}
.footer .box-container .box span{
    color: var(--white);
    font-size: 1.5rem;
    display: block;
}
.footer .box-container .box span a {
    color: var(--black);
}
/*--- End Footer Section ---*/
/*--- Media Queries ---*/
@media (max-width: 1200px) {
    section {
        padding: 3rem 5%;
    }
}
@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
    section {
        padding: 3rem 2rem;
    }
    .home .slide .content h3 {
        font-size: 10vw;
    }
}
@media (max-width: 768px) {

    .heading h1 {
        font-size: 4rem ;
    }

    #menu-btn {
        display: inline-block;
        transition: .2s linear;
    }
    #menu-btn.fa-times {
        transform: rotate(180deg); 
    }
    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: var(--white);
        border-top: var(--border);
        padding: 2rem;
        transition: .2s linear;
        clip-path: polygon(0 0, 100% 0 , 100% 0 , 0 0);
    }
    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0 , 100% 100% , 0 100%);
    }
    .header .navbar a {
        display: block;
        margin: 2rem;
        text-align: center;
    }
}
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .heading-title {
        font-size: 3.5rem;
    }
}